.about {
    background-image: url(/src/assets/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.opacity-box {
  background: rgba(0, 0, 0, 0.021); /* opacity without fading text */
  border-radius: 20px;
  padding: 3rem;
}