.contact {
    background-image: url(/src/assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-box {
  background: rgba(0, 0, 0, 0.349); /* opacity without fading text */
  border-radius: 20px;
  padding: 3rem;
}
