/* Background */
.home {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 40px;
  color: white;
}


.content {
  max-width: 800px;
}


.name {
  font-size: 2.8rem;
  font-weight: 700;
}

.name span {
  color: #38bdf8;
}


.role {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #94a3b8;
}


.desc {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.6;
  color: #cbd5e1;
}
.buttons {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease;
}


.primary {
  background: #38bdf8;
  color: black;
  font-weight: 600;
}

.primary:hover {
  background: #0ea5e9;
}

.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.outline:hover {
  background: #38bdf8;
  color: black;
}

.cv-btn {
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
  padding: 10px 20px;
  border: 1px solid #facc15;
  color: #facc15;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.cv-btn:hover {
  background: #facc15;
  color: black;
}


@media (max-width: 768px) {

  .name {
    font-size: 2rem;
  }

  .role {
    font-size: 1.1rem;
  }

  .about {
    font-size: 0.9rem;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 85%;
  }

  .cv-btn {
    width: 85%;
    justify-content: center;
  }
}