.project {
    background-image: url(/src/assets/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  color:#3daee9;

}


.project-card {
  padding: 5px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  width: 16rem;

}
.project-card h5{
  font-size: 1.5rem;
  color: aqua;
}
.tech{
  color: rgb(123, 233, 123);
}

.project-card {

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.2);
}

.project-img {
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}


.project-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.4);
}

.project-img {
  margin-bottom: 15px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}


.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.btn {
  padding: 3px 18px;
  border-radius: 30px;
  border: none;
  background: #38bdf8;
  color: #020617;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #22c55e;
}

.btn-outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn-outline:hover {
  background: #38bdf8;
  color: #020617;
}
