.skills{
    background-image: url(/src/assets/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.skills .bi{
color: aqua;
font-size: 3rem;
background: linear-gradient(45deg, blue,red, yellow, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}