.skills{
    background-image: url(/src/assets/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity-box {
  /* background: rgba(0, 0, 0, 0.5);  */

}
.skills .bi{
color: aqua;
font-size: 3rem;
}