.navbar li{
    font-size: 1.1rem;
    margin-right: 5rem;
    transition: transform 0.3s ease, text-shadow 0.4s ease;

}
.navbar li:hover{
    transform: scale(1.1);
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

