
.custom-navbar {
  background: rgba(82, 83, 85, 0.6);
  backdrop-filter: blur(12px);
  padding: 12px 0;
  transition: 0.3s ease;
}


.nav-link {
  color: #e2e8f0 !important;
  font-weight: 500;
  margin: 0 12px;
  position: relative;
  transition: 0.3s;
}


.nav-link:hover {
  color: #38bdf8 !important;
}


.active-link {
  color: #38bdf8 !important;
  font-weight: 600;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}


@media (max-width: 991px) {

  .navbar-collapse {
    background: rgba(38, 38, 39, 0.95);
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
  }

  .nav-link {
    margin: 10px 0;
    font-size: 16px;
  }

  .nav-link::after {
    display: none; 
  }
}